*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Emacs
\#*#
.#*
*~

# Scala-IDE specific
.scala_dependencies
.worksheet

# Hive
metastore_db/*


.idea/**
.idea/*.xml
project/build.properties
.idea/scala_compiler.xml
.idea/sbt.xml
